<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <style>
        li{
            list-style: none;
            float: left;
            margin-left: 10px;
        }


    </style>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <!-- <input type="file" name="file"><br> -->
    <button type="submit">上传</button>
</form>
<br>

<div>
    <ul>
        {% for i in path %}
            <li><img src="{{ static_url('upload/{}'.format(i)) }}" alt="" width="400"></li>
        {% end %}
    </ul>
</div>

</body>
</html>

